body {
    background-image: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    width: 90%;
    margin: auto;    
}

.main-header {
    text-align: center;
    padding: 100px 50px 30px;
    color: rgba(255, 255, 255, 0.65);
}

.titulo {
    color: white ;
}

.main-header h1 {
    font-weight: 300;
    font-size: 50px;
}

.main-header p {
    line-height: 2;
}

.main-header a {
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
    border-bottom: 1px dotted;
}

.main-header a:hover {
    border-bottom: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.nav {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.911);
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: #636363;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(133, 133, 133, 0.13);
    color: black;
}

.sessao {
    padding: 64px 64px 32px;
    background-color: white;
    border-top: 1px solid #ccc;
}

.conteudo {
    float: left;
    clear: both;
    width: 60%;
    border-radius: 100%;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.imagem span {
      padding: 10px;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid #ccc;
  }

.imagem img {
    border-radius: 100%;
}

.tituloTopico1 {
    font-weight: 300;
    color: #636363;
    font-size: 32px;
}

.tituloTopicos {
    font-weight: 300;
    color: #636363;
    font-size: 32px;
    text-align: center;
}

.div{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
  }

.sessao4 {
    color: white;
}

.botao {
    padding: 20px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-decoration: none;
    color: #636363    
}

.botao:hover {
    background-color: rgba(133, 133, 133, 0.13);
}

.botao--azul {
    padding: 24px 40px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #8cc9f0;
    border: 1px solid #8cc9f0;
    color: white;
}

.botao--azul:hover {
    background-color: rgba(140, 202, 240, 0.900);
    border-color: rgba(140, 202, 240, 0.900);
}

.botoes {
    text-align: center;
}

.botoes li {
    display: inline-block;
    margin-right: 10px;
}

.px16 {
    font-size: 18.6667px;
    color: #636363;
    text-align: center;
}

.textolado {
    text-align: left;
}