@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@keyframes aparecer {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}


body {
     background-image: url(../img/Background\ body.jpg);
}

header {
    transition: all 1s; 
    background-image: url(../img/Background\ header.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;  
}

.header-container { 
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.avatar {
    animation-name: aparecer;   
    animation-duration: 2s;
    margin-top: 15px;
    border-radius: 100%;
    width: 80px;
}

ul {
    padding-left: 0;
}

h1 {
    animation-name: aparecer;   
    animation-duration: 2s;
    margin: 0%;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: white; 
    padding-bottom: 15px;
}

header a {
    animation-name: aparecer;   
    animation-duration: 2s; 
    width: 40px;
    text-decoration: none;
    color: white;
    border-bottom: groove transparent;
}

header a:hover {
    border-bottom: groove;
}

nav {
    position: sticky;
    top: 0;
    text-align: center;
    background-color:rgba(213, 215, 71, 0.47);
    z-index: 1;
}

nav li {
    display: inline-block; 
    padding-right: 5px;
    margin-top: 15px;
}

.borda {
    border-right: 2px solid black;
    padding-right: 5px;
}

.semespaco {
    padding-left: 5px;
}

nav a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    border: 1px transparent;
    border-radius: 10px;
    padding: 10px;
}

nav a::before {
    display: none;
}

nav a:hover {
    background-color: rgba(213, 215, 71, 0.47);
}

nav ul {
    margin: 0;
    padding-bottom: 15px;
}

.fotos {
    margin-top: 40px;
    text-align: center;
}


.fotos img:hover {
    transform: scale(1.05);
    transition: all 0.5;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.fotos img {
    border: 2px solid transparent;
    transition: 1s;
    border-radius: 20%;
    height: 259px;
    width: 195px;
}

.fotos h2 {
    margin-bottom: 90px;
}

footer {
    background-image: url(../img/Background\ header.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-bottom: 24px;
    color: white;
}

#redes {
    text-align: center;
}

#redes ul {
    padding-left: 0;
}

#redes li {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-right: 35px;
    width: 20px;  
    height: 20px;
    padding-top: 30px;
}

#redes i {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.527);
}

#redes .twitter i:hover {
    color: #1DA1F2
}

#redes .faceboock i:hover {
    color: #4064AC
}

#redes .instagram i:hover {
    color: red; 	background: -webkit-linear-gradient(45deg, #f7ce02, #f96302, #f71102, #d32155, #b43890, #904eca, #8944bb, #7832ae); 	-webkit-background-clip: text; 	-webkit-text-fill-color: transparent;
}

#redes .email i:hover {
    color: #0071CE
}

@media screen and (min-width: 600px) {  
    .avatar {
        height: 120px;
        width: auto;
    }
    
    h1 {
        font-size: 60px;
    }
    
    nav a {
        font-size: 17px;
    }
    
    .fotos img {
        height: 359px;
        width: 295px;
    }

    #redes i {
        font-size: 40px;
    }

    #redes li {
        margin-right: 70px;
        padding-top: 30px;
    }
}

@media screen and (min-width: 1000px) {
    header {
        text-align: start;
    }

    .header-container {
        display: grid;
        grid-template-areas: 
            "img link link link"
            "img titulo titulo titulo";
        align-items: center;
    }

    .header-container .avatar {
        grid-area: img;
    }

    .header-container h1 {
        grid-area: titulo;
    }

    .header-container a {
        grid-area: link;
    }
        
    .avatar {
        height: 180px;
        width: auto;
        margin: 15px;
    }

    header h1 {
        margin-right: 220px;
        text-align: center;
        font-size: 70px;
    }

    nav a {
        font-size: 20px;
    }

    .borda {
        padding-right: 20px;
    }
    
    .semespaco {
        padding-left: 20px;
    }

    .icone1::before {
        content: "f170";
    }

    nav a::before {
        display: inline;
        margin-right: 10px;
    }

    .icone2::before {
        content: "f5b0";
    }

    nav a::before {
        display: inline;
        margin-right: 10px;
    }

    .icone3::before {
        content: "f5b0";
    }

    nav a::before {
        display: inline;
        margin-right: 10px;
    }

    .fotos .fotos-viagens {
        border-radius: 20%;
        height: 259px;
        width: 195px;

    }
    
    .fotos h2 {
        margin-bottom: 90px;
        font-size: 30px;
    }

    .fotos-viagens {
        display: grid;
        grid-template-areas: 
        "foto1 foto2"
        "texto1 texto2";
    }

    .fotos-viagens .brasilia {
        grid-area: foto1;
    }

    .fotos-viagens .foz-do-iguaçul {
        grid-area: foto2;
    }

    .fotos-viagens .brasilia-texto {
        grid-area: texto1;
    }

    .fotos-lugares {
        display: grid;
        grid-template-areas: 
        "foto1 foto2 foto3" 
        "texto1 texto2 texto3";
    }

    .fotos-lugares .pyongyang {
        grid-area: foto1;
    }

    .fotos-lugares .chernobyl {
        grid-area: foto2;
    }

    .fotos-lugares .los-angeles {
        grid-area: foto3;
    }

    .fotos-lugares .pyongyang-texto {
        grid-area: texto1;
    }

    .fotos-lugares .chernobyl-texto {
        grid-area: texto2;
    }

    #redes i {
        font-size: 50px;
    }

    #redes li {
        margin-right: 100px;
        padding-top: 30px;
    }
}